<div class="main">
  <div class="my-contents">
    <div class="name">
      <%= @nickname %>'s page &#x1f4ad;
    </div>
    <div class="profile">
    </div>
    <div class="movie-select">
      <%# &#x2661;  %>
      &#x1f4fa; Favorite movie's
    </div>
    <div class="movie-list">
    </div>
    <div class="photo">
      &#x1f4f7; Posted image
    </div>
    <div class="photo-list">
    </div>


  </div>
</div>