<div class="contacts">
  <div class="message">
    REQUEST
  </div>
  <h3>NAME</h3>
  <div class="input-name"></div>
  <h4>MESSAGE</h4>
  <div class="input-message"></div>

  <%= link_to root_path, class: "input-btn" do %>
    <div class="input-btn">
        GO
    </div>
  <% end %>

</div>

