<div class="post-photo">
  <div class="title">Let's photo share</div>
    <p>投稿してみんなとshareしよ!</p>
  <div class="post-new">
    <i class="fas fa-camera-retro"></i>
    <%= link_to " New post ", new_post_path %>
    <i class="fas fa-camera-retro"></i>
  </div>

  <div class="shere-list">
    <% @posts.each do |post| %>
      <div class="photo-p">
        <%= image_tag post.image%>
        <div class="text">
        <%= post.text%>
        </div>
        <div class="time">
        <%= post.created_at.strftime("%Y-%m-%d") %>
        </div>
      </div>
    <% end %>
  </div>






</div>