.menu1 {
  background-color: rgb(231, 199, 215);
  height: 100vh;
  width: calc(100% - 300px);
  position: relative;
  
}

.menu2 {
  font-size: 60px;
  margin-top: 60px;
  color: white;
  // font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
}




.menu-choice1 {
  display: flex;
  justify-content: space-around;
  margin: 70px 80px 0 80px;
  animation-name: fadein;
  animation-duration: 2s;
  // animation-iteration-count: infinite;

}

.menu-choice1 a:hover {
  opacity: 0.7;
}



@keyframes fadein {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }

}

.menu-choice2 {
  display: flex;
  justify-content: space-around;
  margin: 70px 80px 0 80px;
  animation-name: fadein;
  animation-duration: 2s;
}

.menu-choice2 a:hover {
  opacity: 0.7;
}

@keyframes fadein {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }

}


.select {
  background-color: white;
  border: black;
  height: 200px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  color: black;
}

h1 {
font-size: 15px;

}

.image1 {
  height: 120px;
  width: 150px;
  margin-top: 20px;
}
