.contentsrow {
  background-color: rgb(199, 182, 190);
  height: 100vh;
  width: calc(100% - 300px);
}
  
h2 {
    font-size: 30px;
  color: rgb(92, 47, 47);
  margin-top: 100px;
  margin-left: 200px;
}

.new_user {
  color: rgb(92, 47, 47);
  margin-left: 200px;
  
}

.field {
  padding-bottom: 10px;
}

#user_nickname {
  height: 25px;
  width: 300px;
}

#user_email {
  height: 25px;
  width: 300px;
}

#user_password {
  height: 25px;
  width: 300px;
}

#user_password_confirmation {
  height: 25px;
  width: 300px;
}

.actions {
  height: 100px;
  width: 100px;
  font-size: 30px;
  
  input {
    height: 100px;
    width: 100px;
  }
}

