.contentsrow {
  background-color: rgb(199, 182, 190);
  height: 100vh;
  width: calc(100% - 300px);
}


h2 {
  font-size: 30px;
  color: rgb(92, 47, 47);
  margin-top: 100px;
  margin-left: 200px;
}

.new_user {
  color: rgb(92, 47, 47);
  margin-left: 200px;

}

.email_field {

}


